html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    min-height: 100vh;
    margin: 0;
    padding: 10px 100px;

    display: flex;
    flex-direction: column;

    background-color: #202020;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

header, footer {
    color: #F9FAFB;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

#header-logo {
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}

.header-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-bar ul {
    display: flex;
    gap: 10px;

    font-size: 18px;
    list-style-type: none;
    white-space: nowrap;
}

.header-content-bar {
    display: flex;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-content h1 {
    font-size: 36px;
    font-weight: 800;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
}

.info-content {
    display: flex;
}

.info-box {
    display: flex;
    flex-direction: column;
}

.quote {
    padding: 40px 100px;

    background-color: #E5E7EB;
}

.quote-author {
    text-align: right;
}

.sign-up-bar {
    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
}

.sign-up-box {
    display: flex;
    align-items: center;

    background-color: #3882F6;
    border-radius: 5px;
}

footer {
    text-align: center;
}